
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap');


:root {
    --primary-color:#EF4444;
    --secondary-color:white;
    --width-break: 600px;
}
body {
    font-family: 'Vollkorn', serif;
    margin: auto;
}
.navigation {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.wrap {
    margin:1rem auto;
    width: var(--width-break);
  }

#btn-translate {
    background-color: var(--primary-color);
    border: None;
    color: var(--secondary-color);
    /* margin: auto; */
    padding:0.5rem 2rem;
    font-size: large;
    display: block;
    font-family: 'Vollkorn', serif;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top:2rem;
    font-size: large;
    font-family: inherit;
    margin: auto;
    max-width: var(--width-break);
}


#output {
    border:1px solid black;
    padding: 1rem;
    /* margin-top: 2rem; */
    height: 15vh;
    width:100%;
    box-sizing: border-box;
    margin: auto;
    overflow: scroll;
    max-width: var(--width-break);  
}

.footer {
    background-color: var(--primary-color);
    text-align:center;
    color:var(--secondary-color);
    padding: 2rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer .footer-about {
    margin:0rem auto;
    width: var(--width-break);
}